<!-- Custom jumbotron background -->
<style type="text/css">
.jumbotron {
  background: url('http://i.imgur.com/fDLGuzK.jpg') no-repeat center center;
  background-size: cover;
  padding: 50px;
}
</style>

<!-- Index page jumbotron -->
<div class="jumbotron">
  <div class="container">
    <font color = "ffffff"><strong><h1>rshark</h1></strong></font>
    <font color = "red"><h3>Finding the blood in the water...</h3></font>
    <font color = "ffffff"><p>Rshark is a web application with similar functionalities to applications such as Wireshark and Tshark, and Tcpdump. Rshark allows us to analyze network-switched packets from an interface or from a libpcap-formatted file.</p></font>  
  </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <h1>About</h1>
    <hr>
    <p>Rshark is an open source sinatra web application built to assit in packet analyzation by providing various utilities to help troubleshoot network issues, perform detailed analytics, and foster a greater understanding of these fundamental underlying protocols. Or, more simply put: A ruby packet anaylsis web application providing an intuitive platform to peform various packet anaylisis taks wrapped together in a slick, boostrap front-end.</p>
  </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <h2>Boostrap 3.3.7</h2>
    <hr>
    <p>Boostrap 3.3.7 was choosen to act as our front-end framework to help thing look pretty with ease. Moreover, it's pretty much the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web -- and so, we thought would be a perfect platform to add some style to packet analysis.</p>
  </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <h2>Packetfu</h2>
    <hr>
    <p>This application relies heavily on the work done by Tod Beardsley and the awesome contributors to the Packetfu ruby gem. It's an awesome library for reading and writing packets to an interface or to a libpcap-formatted file; and, in our case, allows us to inspect and anaylze packet information via an intuitive Ruby API.</p>
  </div>
</div>










