<div class="container">
  <div class="col-xs-12">
    <h1>Feed</h1>
    <hr>
    <% count = 0 %>
    <% @capture_sample.each do |packet| %>
      <% packet_info = PacketFu::Packet.parse(packet) %>
      <% count += 1 %>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse<%=count%>"><%= packet_info.peek %></a>
            </h4>
          </div>
          <div id="collapse<%=count%>" class="panel-collapse collapse">
            <ul class="list-group">
              <% packet_info.protocol.each do |protocol| %>
                <li class="list-group-item">
                  <%=protocol%>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div> 
    <% end %>
  </div>
</div>

