<div class="container">
  <div class="col-xs-12">
    <h1>Ifconfig</h1>
    <hr>
    <h3>Iface</h3>
    <p><%= @config[:iface] %></p>
    <hr>
    <h3>Mac Address</h3>
    <p><%= @config[:eth_saddr] %></p>
    <hr>
    <h3>Local Ip Address</h3>
    <p><%= @config[:ip_saddr] %></p>
    <% if @config[:ip4_obj] %>
      <hr>
      <h3>Reverse Lookup Address</h3>
      <p><%= @config[:ip4_obj].reverse %></p>
    <% end%>
  </div>
</div>

