<!-- Custom jumbotron background -->
<style type="text/css">
.jumbotron {
  background: url('http://i.imgur.com/9eGxshg.png') no-repeat center center;
  background-size: cover;
  padding: 50px;
}
</style>

<!-- Index page jumbotron -->
<div class="jumbotron">
  <div class="container">
    <font color = "ffffff"><strong><h1>rshark</h1></strong>
      <p>Rshark is a web application with similar functionalities to applications such as Wireshark and Tshark, and Tcpdump. Rshark allows us to analyze network-switched packets from an interface or from a libpcap-formatted file.</p>
    </font>  
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>

<!-- Three panel infromation container -->
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Utilities</h2>
      <p>This web application provides various utilities that could be useful during packet analysis.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Analysis</h2>
      <p>This web application provides various utilities that could be useful during packet analysis.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Documentation</h2>
      <p>This web application provides useful documentation that could be useful during packet analysis.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div>

