<div class="container">
  <div class="col-xs-12">
    <h1>Network Interfaces</h1>
    <% @network_interface_info.each do |interface| %>
      <hr>
      <h3><%= interface[:name] %></h3>
      <% if interface[:info][:mac_addr] %>
        <% interface[:info][:mac_addr].each do |mac_addr| %>
          <p><strong>Mac address:</strong> <%= mac_addr["addr"].empty? ? "None" : mac_addr["addr"] %></p>
        <% end %>
      <% end %>

      <% if interface[:info][:ipv4_addr] %>
        <% interface[:info][:ipv4_addr].each do |ipv4_addr| %>
          <p><strong>Ipv4 address:</strong> <%= ipv4_addr["addr"].empty? ? "None" : ipv4_addr["addr"] %></p>
        <% end %>
      <% end %>

      <% if interface[:info][:ipv6_addr] %>
        <% interface[:info][:ipv6_addr].each do |ipv6_addr| %>
          <p><strong>Ipv6 address:</strong> <%= ipv6_addr["addr"].empty? ? "None" : ipv6_addr["addr"] %></p>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>

